div {
    align-items: center;
}

a {
    color: blue;
}

li {
    list-style: none;
}

#nav-header {
    display: flex;
    align-content: space-around;
}

#nav-header div {
    flex: 1;
    text-align: center;
}

.center-stuff {
    text-align: center;
}

#people-list li button {
    justify-content: right;
}

.selected {
    background-color: lightgray;
    color: darkblue;
}
